.input {
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    color: #344054;
    border: none;
    padding: 10px 14px;
}

.input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #667085;
}

.input:focus {
    outline: none;

}

.error {
    box-shadow: 0 2px 8px 0 rgb(255 0 0 / 15%);
}

