.container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
}

.title {
  font-weight: 100;
  font-size: 84px;
  margin-bottom: 0.5rem;
  color: rgb(233 217 216);
}

.card {
  font-size: 14px;
  background-color: rgb(255 255 255);
  min-width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(239 239 239);
  box-shadow:
    /* The top layer shadow */
          0 1px 1px rgb(0 0 0 / 15%),
            /* The second layer */
          0 10px 0 -5px rgb(239 239 239),
            /* The second layer shadow */
          0 10px 1px -4px rgb(0 0 0 / 15%),
            /* The third layer */
          0 20px 0 -10px rgb(239 239 239),
            /* The third layer shadow */
          0 20px 1px -9px rgb(0 0 0 / 15%);
  margin-bottom: 12px;
}

.btns-panel {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.75rem;

  &_main {
    display: flex;
    column-gap: 0.8rem;
  }
}